.floatLeft { float: left; }
.floatRight { float: right; }
.clearBoth { clear: both; }
ul {
    list-style: none;
}
a {
    margin: 0;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px #ccc;
}
footer {
    margin-top: 20px;
    border-top: solid 2px #ccc;
}
form .tag-verr {
    color: red;
}
